.page-error {
  text-align: center;
}
.page-error img {
  width: 537px;
  height: 207px;
}
.page-error_title {
  font-size: 24px;
  line-height: 25px;
  margin-top: 90px;
  font-family: "proxima", Arial, sans-serif;
}
.page-error_navigation {
  margin-top: 25px;
}
.page-error_navigation .btn {
  margin: 0 10px;
  min-width: 120px;
}
