/* Общие стили для карточек товара */
/* Сам товар */
.product-item {
  width: 270px;
  min-height: 350px;
  text-align: center;
  border: 1px solid #ececec;
}
.product-item_image {
  padding: 20px 50px;
}
.product-item_title {
  padding: 32px 20px;
}
.product-item_bonus {
  padding: 22px 20px;
}
/* Стили для блока продуктов на странице bonus-page.html */
.product {
  margin-top: 100px;
}
.product_title {
  font-size: 32px;
  font-size: 100px;
  margin-bottom: 20px;
  font-family: "proxima", Arial, sans-serif;
}
