/* notification */

.notification{
  padding: 30px 170px 30px 35px;
  margin-bottom: 20px;

  .row{
    display: table;
    width: 100%;
  }

  .col{
    display: table-cell;
    vertical-align: middle;
    float: none;
  }

  i{
    margin: 0 auto;
  }

  p{
    font-size: 14px;
    line-height: 21px;
    color: #656565;
    font-weight: 700;
    opacity: .8;
  }

  a{
    color: #656565;
  }

  &--blue{
    background: #f2f6fb;
  }

  img{
    width: 100%;
    height: auto;
  }

  &_title{
    font-family: "proxima", "Arial", sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #333;
  }

  &--block{
    padding-right: 30px;
    border: 1px solid #eee;
  }
}

/* страница */
.cafe-item{

  .product-item{
    width: 100%;
    margin-top: 0;
  }

  &_item{
    padding-top: 20px;
  }
}