/* мобильные приложения */

.big-header{
  text-align: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 20px 0 0;

  &::before{
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f0f0f0;
    z-index: -1;
  }

  span{
    display: inline-block;
    vertical-align: top;
    padding: 0 30px;
    font-size: 32px;
    line-height: 32px;
    color: #333;
    font-family: "proxima", "Arial", sans-serif;
    background: #fff;
  }
}

.mobile-app{
  margin: 60px auto 60px;

  &_left{
    width: 40%;
    float: left;
    margin-top: 50px;
  }

  &_right{
    width: 570px;
    float: right;
    text-align: center;
    font-size: 0;
  }

  &_advantage{
    font-size: 0;
    margin-bottom: 50px;
  }

  &_ico{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    i{
      display: inline-block;
      vertical-align: top;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 2px solid @orange;
    }
  }

  &_text{
    width: 70%;
    display: inline-block;
    vertical-align: top;
  }

  &_adv-title{
    font-family: "proxima", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #333;
    margin-bottom: 5px;
    font-weight: 300;
  }

  &_adv-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(101,101,101,.6);
  }
}


.ico-cloud{
  position: relative;

  &::before{
    content: "";
    background-image: url("../img/context/sprite.png");
    background-size: 416px 273px;
    background-repeat: no-repeat;
    background-position: -191px -143px;
    width: 32px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -14px;
  }
}

.ico-timer{
  position: relative;

  &::before{
    content: "";
    background-image: url("../img/context/sprite.png");
    background-size: 416px 273px;
    background-repeat: no-repeat;
    background-position: -373px -96px;
    width: 29px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -13px;
    margin-top: -16px;
  }
}

.ico-rocket{
  position: relative;

  &::before{
    content: "";
    background-image: url("../img/context/sprite.png");
    background-size: 416px 273px;
    background-repeat: no-repeat;
    background-position: -66px -78px;
    width: 33px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
  }
}


/* мок ап */
.mock-up{
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0 10px;

  &--iphone{
    width: 240px;
    height: 507px;
    padding: 78px 20px 73px 23px;
    background: url("../img/context/mockup-iphone.png") no-repeat center;

    img{
      width: 100%;
      height: 100%;
    }
  }

  &--samsung{
    width: 220px;
    height: 425px;
    padding: 40px 11px 39px 13px;
    background: url("../img/context/mockup-samsung.png") no-repeat center;

    img{
      width: 100%;
      height: 100%;
    }
  }
}


/* SEO футер */
.seo-footer{
  padding: 90px 0 60px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background: #fafafa;

  &_title{
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    color: #4f555d;
    margin-bottom: 10px;
  }

  &_text{
    font-size: 12px;
    line-height: 18px;
    color: #4f555d;
    margin-bottom: 30px;
  }
}

/* footer */
.main-footer{
  padding: 70px 0 70px;

  &_top{
    margin-bottom: 40px;

    p{
      font-size: 14px;
      line-height: 22px;
      color: #4f555d;
      padding-left: 72px;
    }

    span{
      font-size: 13px;
      color: #959595;
    }
  }

  &_logo{
    float: left;
    margin: 0 13px 0 7px;

    img{
      display: block;
      width: 47px;
      height: 50px;
    }
  }

  &_nav{
    display: inline-block;
    vertical-align: top;
    list-style: none;
    width: 230px;


    a{
      font-size: 14px;
      color: #4f555d;
      line-height: 25px;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  &_ico-link{
    line-height: 42px;
    position: relative;
    font-size: 14px;
    color: #4f555d;
    text-decoration: inderline;
    padding-left: 46px;
    display: inline-block;
    vertical-align: top;

    &:hover{
      text-decoration: none;

      &::after{
        opacity: .7;
      }
    }

    &::after{
      content: "";
      display: block;
      position: absolute;
      background-image: url("../img/context/sprite.png");
      background-size: 416px 273px;
      background-repeat: no-repeat;
    }
  }

  &_founders{
    display: inline-block;
    vertical-align: top;
    width: 270px;
    margin-top: 25px;
    margin-right: 38px;
    text-align: left;
    padding-left: 0;

    p{
      font-size: 14px;
      color: #4f555d;
      line-height: 22px;
    }
  }
}

p.main-footer_founders{
  padding-left: 0;
}

.icon-portal{
  margin-right: 75px;
}

.icon-portal::after{
  width: 33px;
  height: 32px;
  top: 6px;
  left: 0;
  background-position: -5px -142px;
}

.icon-gift::after{
  width: 33px;
  height: 43px;
  top: -5px;
  left: 0;
  background-position: -89px -196px;
}

.ico-convert{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background-image: url("../img/context/sprite.png");
  background-size: 416px 273px;
  background-repeat: no-repeat;
  width: 19px;
  height: 15px;
  background-position: -259px -41px;
  position: relative;
  top: -3px;
}

/* социо кнопки */
.socio-btn{
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  font-size: 0;
  margin-left: 10px;

  &::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url("../img/context/sprite.png");
    background-size: 416px 273px;
    background-repeat: no-repeat;
  }

  &:first-child{
    margin-left: 0;
  }

  &:hover{
    opacity: .7;
  }

  &--instagram{
    border-color: #427096;

    &::after{
      background-position: -66px -41px;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      margin-left: -8px;
    }
  }

  &--twitter{
    border-color: #1292e3;

    &::after{
      background-position: -357px -138px;
      width: 21px;
      height: 16px;
      margin-top: -8px;
      margin-left: -9px;
    }
  }

  &--facebook{
    border-color: #335794;

    &::after{
      background-position: -233px -167px;
      width: 10px;
      height: 19px;
      margin-top: -10px;
      margin-left: -4px;
    }
  }

  &--vk{
    border-color: #3f70b1;

    &::after{
      background-position: -323px -153px;
      width: 19px;
      height: 11px;
      margin-top: -5px;
      margin-left: -9px;
    }
  }
}