.profile-page{

  &_navigation{
    font-size: 16px;
    line-height: 25px;
    color: #333;
    font-weight: 700;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
    text-decoration: none;

    &:first-child{
      padding-top: 0;
    }

    &:last-child{
      padding-bottom: 0;
      border-bottom: 0;
    }

    &:hover,
    &--active{
      color: #8dc63f;
    }
  }
}