.profile-page{

  &_navigation{
    font-size: 16px;
    line-height: 25px;
    color: #333;
    font-weight: 700;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
    text-decoration: none;

    &:first-child{
      padding-top: 0;
    }

    &:last-child{
      padding-bottom: 0;
      border-bottom: 0;
    }

    &:hover,
    &--active{
      color: #8dc63f;
    }
  }

  &_add-form{
    margin: 40px 0;
  }

  &_profile-image{
    width: 150px;
    float: left;
    margin-right: 25px;

    img{
      width: inherit;
      height: auto;
    }
  }

  &_delete{
    display: inline-block;
    vertical-align: top;
    width: 140px;
    font-size: 12px;
    line-height: 22px;
    color: #6d6d6d;
    text-align: center;

    &--no-width{
      width: auto;
    }
  }
}

/* order-item */
.order-item{
  margin-bottom: 40px;

  &_title{
    font-family: "proxima", "Arial", sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 20px;
  }

  &_info{
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid #eee;
    text-align: center;

    p{
      text-transform: uppercase;
      color: #959595;
      font-size: 10px;
      line-height: 14px;
      margin-bottom: 10px;
    }

    span{
      font-family: "proxima", "Arial", sans-serif;
      font-size: 18px;
      line-height: 22px;
      color: #000;
      text-transform: lowercase;
      display: block;
      margin-bottom: 30px;
    }

    .order-item_price{
      font-size: 18px;
      line-height: 20px;
      color: #000;
    }

  }

  &_price{
    font-size: 18px;
    line-height: 20px;
    color: #000;
    font-weight: 700;
    padding: 50px 0;
    border-top: 1px solid #eee;
  }
}

/* order line */
.order-line{
  padding: 25px 0;
  border-bottom: 1px solid #eee;

  &_name{

    img{
      max-width: 60px;
      height: auto;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    p{
      display: inline-block;
      vertical-align: middle;
      font-weight: 700;
      color: #333;
      z-index: 16;
      line-height: 20px;
    }
  }

  &_count{
    font-size: 18px;
    color: #000;
    padding-top: 10px;
  }

  &_price{
    font-size: 18px;
    color: #000;
    padding-top: 10px;
    text-transform: uppercase;
  }
}

/* adress-item */
.adress-item{
  padding: 25px;
  background: #f2f6fb;

  &_name{
    font-size: 16px;
    color: #4b5b6f;
    line-height: 18px;
    font-weight: 700;

    span{
      text-transform: uppercase;
      font-size: 10px;
      line-height: 14px;
      display: block;
      color: #959595;
      margin-top: 7px;
    }
  }

  &_control{
    a{
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      line-height: 24px;
      color: #626f80;
      text-decoration: none;
      margin-right: 50px;
      margin-top: 7px;

      &:last-child{
        margin-right: 0;
      }

      &:hover{
        opacity: .7;
      }
    }

    i{
      margin-right: 15px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

/* badge-item */
.badge-item{
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 40px;
}