.tooltip{
  position: relative;
  display: inline-block;
  vertical-align: top;

  &_title{
    font-size: 13px;
    line-height: 21px;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-right: 30px;
    display: inline-block;

    &::after{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../img/context/sprite.png");
      background-repeat: no-repeat;
      display: block;
      width: 19px;
      height: 19px;
      border: 1px solid rgba(255,255,255,.5);
      border-radius: 50%;
      background-position: -262px -4px;
    }

    &:hover::after{
      border: 1px solid rgba(255,255,255,1);
    }
  }

  &_content{
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
  }
}