/*=====================
  Формы
=====================*/
input[type='text'],
textarea,
select,
input[type='password']{ /* поля */
  box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;

  &:focus{
    border: 1px solid #A09F9F;
  }
}

.search{
  padding: 6px 35px 6px 15px;
  border: 1px solid #ececec;
  border-radius: 50px;
  color: #909090;
  background-image: url("../img/context/sprite.png");
  background-size: 416px 273px;
  background-repeat: no-repeat;
  background-position: 230px -188px;

  &:focus{
    border: 1px solid #c7c7c7;
  }
}

textarea{
  padding: 15px;
  border: 1px solid #eee;
  font-size: 14px;
  line-height: 20px;
  color: #656565;
  resize: none;
  margin-bottom: 10px;
  height: 90px;

  &:focus{
    border: 1px solid #A09F9F;
  }
}

label{
  cursor: pointer;
}

button{
  border: none;
  cursor: pointer;
  outline: none;
}

input::-webkit-input-placeholder{
  color: rgba(115,115,115,.75);
}
input::-moz-placeholder{
  color: rgba(115,115,115,.75);
}

textarea::-webkit-input-placeholder{
  color: rgba(115,115,115,.75);
}
textarea::-moz-placeholder{
  color: rgba(115,115,115,.75);
}

/*=====================
  Кастомные формы и радио кнопки
=====================*/

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] + label{
  display: block;
  padding-left: 30px;
  font-size: 13px;
  line-height: 15px;
  color: #333;
  font-weight: 400;
  position: relative;
  margin-bottom: 15px;
}

input[type="checkbox"] + label:hover{
  color: #8dc63f;
}

input[type="checkbox"] + label::before{
  content: "";
  display: block;
  box-sizing: border-box;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  margin: 0 10px 0 0;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked + label{
  color: #8dc63f;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 2px;
  background-image: url("../img/context/sprite.png");
  background-repeat: no-repeat;
  width:  11px;
  height: 9px;
  background-position: -377px -10px;
}


/* =====================================
   Кастомные поля для страницы партнеров
   ===================================== */

.custom-field{
  color: #000;
  height: 46px;
  padding: 14px;
  margin: 20px 0;
  font-size: 14px!important;
  border: 1px solid #eee;
  box-sizing: border-box;
  transition: 0.4s ease border;

  &--textarea{
    height: 75px;
    padding: 12px 14px;
  }
}

.custom-button{
  width: 100%;
  font-size: 14px;
  padding: 12px 19px;
}
