/* rate */
.rate{
  margin-bottom: 15px;

  i{
    width: 17px;
    height: 17px;
    .sprite;
    .stitches-sprite(-805px, -156px, 17px, 16px);
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
  }

  &--0--5{
    i:nth-child(1){
      .stitches-sprite(-10px, -82px, 18px, 16px);
    }
  }

  &--1{
    i:nth-child(1){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
  }

  &--1--5{
    i:nth-child(1){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
    i:nth-child(2){
      .stitches-sprite(-10px, -82px, 18px, 16px);
    }
  }

  &--2{
    i:nth-child(1),
    i:nth-child(2){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
  }

  &--2--5{
    i:nth-child(1){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
    i:nth-child(2){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
    i:nth-child(3){
      .stitches-sprite(-10px, -82px, 18px, 16px);
    }
  }

  &--3{
    i:nth-child(1),
    i:nth-child(2),
    i:nth-child(3){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
  }

  &--3--5{
    i:nth-child(1){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
    i:nth-child(2){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
    i:nth-child(3){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
    i:nth-child(4){
      .stitches-sprite(-10px, -82px, 18px, 16px);
    }
  }

  &--4{
    i:nth-child(1),
    i:nth-child(2),
    i:nth-child(3),
    i:nth-child(4){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
  }

  &--4--5{
    i:nth-child(1){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
    i:nth-child(2){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
    i:nth-child(3){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
    i:nth-child(4){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
    i:nth-child(5){
      .stitches-sprite(-10px, -82px, 18px, 16px);
    }
  }

  &--5{
    i:nth-child(1),
    i:nth-child(2),
    i:nth-child(3),
    i:nth-child(4),
    i:nth-child(5){
      .stitches-sprite(-330px, -356px, 17px, 16px);
    }
  }
}